@media only screen and (max-width: 40em) {
  .sections.homeSectionsContainer {
    margin-top: 2em !important;
  }
  .sections.homeSectionsContainer::before, .sections.homeSectionsContainer::after {
    display: none !important;
  }
}
.mdl-slider::-webkit-slider-thumb {
  background: rgb(var(--theme-accent-text-color));
}
.mdl-slider-background-lower {
  background: rgb(var(--theme-accent-text-color));
}
.actionSheetContent {
  zoom: 0.8;
  padding: 0 !important;
}
.itemProgressBar {
  margin: 0.6em;
  overflow: hidden;
  border-radius: 1em;
  width: calc(100% - 1.2em) !important;
}
.skinHeader {
  margin: 0.8em;
  border-radius: 1em;
}
.skinHeader.headroom--unpinned {
  margin: 0;
}
.skinHeader.semiTransparent {
  margin: initial;
  border-radius: initial;
}
.pageTitleWithDefaultLogo {
  zoom: 55%;
  background-image: url(plex-logo.svg);
}
.sections.homeSectionsContainer {
  margin-top: calc(33vw - 4em);
}
.sections.homeSectionsContainer::before, .sections.homeSectionsContainer::after {
  top: 0;
  opacity: 0.7;
  display: flex;
  width: 100%;
  height: 33vw;
  font-size: 5em;
  position: absolute;
}
.sections.homeSectionsContainer::before {
  content: '';
  background-color: #000;
  animation-duration: 60s;
  animation-name: flymove;
  background-size: 100vw 50vw;
  animation-timing-function: linear;
  background-image: url(preview.jpg);
  animation-iteration-count: infinite;
  box-shadow: 0px 20px 40px 10px #000;
}
.sections.homeSectionsContainer::after {
  align-items: center;
  font-family: fantasy;
  justify-content: center;
  content: 'JUST FINE';
  box-shadow: inset 0px -20px 20px 0px #000;
}
@keyframes flymove {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100vw 50vw;
  }
}
